*{
    margin: 0;
    padding: 0;

}
body{
  overflow:scroll;
}


/* styling menu
</body> icon */
.main-section{
    display: flex;
    flex-direction: row;
}
.container {
  display: inline-block;
  cursor: pointer;
  margin-left: 7%;
  margin-top: 2%;

}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  margin-top:12%;
 
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* end styling menu icon */

/* styling drink icon */
#drink-img
{
margin-left: 37%;
margin-top: 1%;

}
#herb-img
{
margin-left:31%;
margin-top: 1%;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-top: -2%;
  margin-left: 25%;
}

.mid-section{
  margin-left:7%;
  margin-top: 6%;

}

h4{
  font-family: 'Freehand', cursive;
  color: #F66372;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 30px;
  
}
p{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: black;
 
}
#submit-area{
  margin-left: 24.5%;
  margin-top: 0%;
  padding: 10px;
  font-size: 17px;
  width: 100%;
  padding: 10px;
  
}
#submit-area > input{
  width: 20%;
  padding: 10px;
}
#search-icon{
  width: 3%;
  padding: 10px;
}
.social-m-icons{
  display: flex;
  flex-direction: column;
  margin-left:7%;
  margin-top: 2%;
  display: flex;
  
}

/* Twitter */
.fa-twitter {
  color: black;
}

/* Instagram */
.fa-instagram {
  color: black;
}

/* linkedin" */
.fa-linkedin{
  color: black;
}
/* facebook */
.fa-facebook{
  color: black;
}
 
#bottom-img{
  margin-top: 9.5%;
  margin-left: 6.9%;
  
}
 
.image-section{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 margin-top: 2%;
 margin-left: -4%;
}
.image-section1{
  display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 margin-top: 2%;

}
.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-card {
  width: 300px;
  border: 1px solid #00000020;
  border-radius: 2px;
  text-align: left;
  background-color: white;
}

.image {
  width: 300px;
 
}
.title {
  text-align: left;
  padding: 15px 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000dd;
}
.likes-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.likes {
  font-size: 0.9rem;
  font-weight: 600;
}

.like-button {
  color: rgb(255, 127, 80);
  font-size: 1.5rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}

.like-button:hover {
  color: rgb(241, 71, 19);
}

.like-button:active {
  color: rgb(253, 159, 124);
}

.like-button:focus {
  outline: none;
}

